@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400&display=swap");

/* Material icons - for convienance */

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

:root {
  --primary: rgb(192, 41, 134);
  --primary-contrast: white;
  --primary-hover: rgb(41, 32, 165);
  --container-size: 50px;
  --light-border: #222222;
  --light-text: #636363;
  --light-grey-background: #efefef;
  --heading-size: 1.9rem;
  --content-size: 1rem;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.button {
    background: var(--primary);
    color: var(--primary-contrast);
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
}
.button:hover {
    background: var(--primary-hover);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/* header */
.header {
  padding: 15px var(--container-size);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-border);
}
.header__brand {
  font-size: 1.8rem;
  color: var(--primary);
}

.header__collapse {
  border: 1px solid var(--light-border);
  height: 24px;
  padding: 5px;
}

/* hero */

/* services */
.services {
  padding: 100px var(--container-size);
}
.services__heading {
  text-align: center;
  font-size: var(--heading-size);
}
.services__content {
  text-align: center;
  font-size: 0.9rem;
  color: var(--light-text);
  line-height: 1.3rem;
}
.services__list {
  padding: 30px 0;
}

.service {
  margin: 14px 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.service__icon {
  text-align: left;
  font-size: 40px !important;
  padding: 15px 25px 0 0;
  color: var(--primary);
}
.service__details {
    font-size: var(--content-size);
}
.service__heading {

}
.service__content {
  color: var(--light-text);
  line-height: calc(var(--content-size) * 1.3);

}

/* company */
.company {
    background: var(--light-grey-background);
    padding: 80px calc(var(--container-size) + 30px);
}
.company__heading {
    text-align: center;
    font-size: var(--heading-size);
}
.company__content {
    margin: 30px 10px;
    color: var(--light-text);
    font-size: var(--content-size);
    line-height: calc(var(--content-size) * 1.3);
}

/* recent */

/* footer */
