/* Font import */

@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

/* Convienance variables */

:root {
  --primary: #2e2b3c;
  --primary-contrast: #ffffff;
  --primary-hover: #3c3c59;
  --primary-hover-contrast: #ffffff;
  --link-color: #3c3c59;
  --link-hover: rgb(112, 112, 172);
  --heading-size: 2rem;
  --subheading-size: 1.5rem;
  --content-size: 1.3rem;
  --content-small-size: 1rem;
  --shared-image: url("/assets/kelly-sikkema-VX0bsbyBxpM-unsplash-degraded.jpg");
}

/* Minimal reset */

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #eeeeee;
}

/* Material icons - for convienance */

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Theme generics / reusables */

q {
  quotes: "“" "”";
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

.button {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  background: var(--primary);
  color: var(--primary-contrast);
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}

.button--tall {
  font-size: 1.25rem;

  padding: 0.75rem 1rem;
}

.button:hover {
  background: var(--primary-hover);
}

.input {
  color: var(--primary);
  border: 1px solid var(--primary);
  font-size: 1.25rem;
  height: 2.5rem;
  line-height: 1.5em;
  border-radius: 5px;
  padding: 0.3rem 1rem;
}

.container {
  margin-left: 75px;
  margin-right: 75px;
}

.container--row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.container--column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* Theme header / nav bar */

.header {
  margin: 10px auto;
}

.brand {
  font-size: 1.2rem;
  padding: 0;
  margin: 5px 0;
}

/* Theme hero section */

.hero {
  margin: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(66, 50, 4, 0.623),
      rgba(0, 0, 255, 0.11)
    ),
    var(--shared-image);
  background-size: stretch;
  width: 100%;
  max-height: 500px;
  height: 500px;
}

.hero__label {
  color: white;
  font-size: var(--heading-size);
  width: 70%;
  margin: 150px auto;
}

.hero__form {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 50px auto;
}

/* Theme highlights */

.highlight__list {
  display: flex;
  flex-direction: row;
}

.highlight {
  text-align: center;
  margin: 100px auto;
  padding: 0 50px;
  width: 33%;
}

.highlight__label {
  font-size: var(--subheading-size);
  line-height: 2rem;
  padding-bottom: 0.5rem;
  margin: 20px auto;
}

.highlight__content {
  font-size: var(--content-size);
  font-weight: lighter;
  font-family: "Lato", sans-serif;
}

.material-icons.highlight__image {
  font-size: 100px;
  color: var(--primary);
}

/* Increase the size of the highlight icon
   when a highlight item is hovered over,
   without disrupting the text below it */

.highlight:hover > .material-icons.highlight__image {
  font-size: 110px;
}
.highlight:hover > .highlight__label {
  margin-top: 10px;
}

/* Theme Call to Action section */

.call-to-action {
  margin: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(66, 50, 4, 0.623),
      rgba(0, 0, 255, 0.11)
    ),
    var(--shared-image);
  background-size: stretch;
  width: 100%;
  max-height: 400px;
  height: 400px;
}

.call-to-action__label {
  color: white;
  font-size: var(--heading-size);
  width: 70%;
  margin: 100px auto;
}

.call-to-action_form {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 50px auto;
}

/* Theme Features section */

.feature {
  display: flex;
  flex-direction: row;
}

.feature__description {
  flex-grow: 1;
  flex-basis: 0;
  background: #ffffff;
}

.feature__label {
  font-size: var(--heading-size);
  line-height: 2rem;
  padding-top: 2rem;
  padding-left: 75px;
  padding-right: 75px;
}

.feature__content {
  font-size: var(--content-size);
  font-weight: lighter;
  padding-left: 75px;
  padding-right: 75px;
}

.feature__image {
  flex-grow: 1;
  flex-basis: 0;
  margin: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(66, 50, 4, 0.623),
      rgba(0, 0, 255, 0.11)
    ),
    var(--shared-image);
  background-size: stretch;
  max-height: 500px;
  height: 500px;
}

.feature--reverse {
  flex-direction: row-reverse;
}

/* Theme Testimonials section */

.testimonial__list {
  display: flex;
  flex-direction: row;
}

.testimonial {
  text-align: center;
  margin: 100px auto;
  padding: 0 50px;
  width: 33%;
}

.testimonials__label {
  font-size: var(--heading-size);
  margin: 70px auto 0;
  text-align: center;
}

.testimonial__image {
  width: 150px;
  height: 150px;
  background-image: linear-gradient(
      to bottom,
      rgba(66, 50, 4, 0.623),
      rgba(0, 0, 255, 0.11)
    ),
    var(--shared-image);
  border-radius: 50%;
  margin: 0 auto;
}

.testimonial__label {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 0.5rem;
  margin: 20px auto;
}

.testimonial__content {
  font-size: var(--content-small-size);
  font-weight: lighter;
  font-family: "Lato", sans-serif;
}

/* Theme footer section */

.footer {
  margin: 20px 75px;
  font-size: var(--content-small-size);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__links {
  text-decoration: none;
}

.footer__link {
  list-style: none;
  display: inline;
}

.footer__link:after {
  content: " \00b7";
}

.footer__link:last-child:after {
  content: none;
}

.footer__social-media-link {
  list-style: none;
  display: inline;
}

.footer__social-media-image {
  margin: 0 10px;
  color: var(--link-color);
}

.footer__social-media-image:hover {
  color: var(--link-hover);
}

.material-icons.footer__social-media-image {
  font-size: 35px;
}

/* Mobile Settings */

@media screen and (max-width: 780px) {
  .container {
    margin: 20px;
  }

  .hero__label {
    font-size: 1.5rem;
    width: 100%;
    margin: 100px auto;
  }

  .hero__form {
    flex-direction: column;
    width: 100%;
    margin: 30px auto;
  }

  .highlight__list {
    flex-direction: column;
  }

  .highlight {
    width: 100%;
    padding: 0;
    margin: 20px 0;
  }

  .feature {
    flex-direction: column-reverse;
  }

  .feature__content {
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .feature__image {
    width: 100%;
    height: 300px;
    min-height: 300px;
  }
  .feature__label {
    padding-left: 20px;
    padding-right: 20px;
  }

  .testimonial__list {
    flex-direction: column;
  }

  .testimonial {
    width: 100%;
    padding: 0;
    margin: 20px auto;
  }

  .call-to-action__label {
    font-size: 1.5rem;
    width: 100%;
    margin: 100px auto;
  }

  .call-to-action__form {
    flex-direction: column;
    width: 100%;
    margin: 30px auto;
  }

  .footer {
    text-align: center;
    margin: 20px;
    flex-direction: column-reverse;
  }
}
