/* Font import */
@import url("https://fonts.googleapis.com/css?family=Freckle+Face|Hammersmith+One&display=swap");

/* Convienance variables */
:root {
  --primary: #973000;
  --primary-contrast: #ffffff;
  --primary-hover: #682101;
  --primary-hover-contrast: #ffffff;
  --link-color: #682101;
  --link-hover: #3f1400;
  --heading-size: 2rem;
  --subheading-size: 1.5rem;
  --content-size: 1.3rem;
  --content-small-size: 1rem;
  --dark-background: #222222;
  --shaded-background: #eeeeee;
  --light-text: #6b6b6b;
  --dark-text: #222222;
  --shared-image: url("/assets/kelly-sikkema-VX0bsbyBxpM-unsplash-degraded.jpg");
}

/* Minimal reset */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  margin: 0 auto;
}

body {
  font-family: "Hammersmith One", sans-serif;
  color: var(--light-text);
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  background: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
button {
  margin: 0;
  font-family: "Freckle Face", cursive;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--dark-text);
}

/* Material icons - for convienance */

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.container {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
}
.container--row {
  flex-direction: row;
}
.container--column {
  flex-direction: column;
}
.container--space-between {
  justify-content: space-between;
}
.button {
  background: var(--primary);
  color: var(--primary-contrast);
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 10px;
}
.button:hover {
  background: var(--primary-hover);
  color: var(--primary-hover-contrast);
}

/* Theme header */
.header {
  background: rgba(20, 9, 4, 0.952);
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
}
.logo {
  color: var(--primary);
  margin: 20px 0;
  font-size: 2rem;
}
.menu--button {
  margin: 20px 0;
  font-size: 1rem;
}
.menu__items {
  display: none;
  margin: 35px 0 0;
}
.menu__item {
  display: inline-block;
  margin-left: 20px;
}
.menu__link,
.menu__link:visited {
  color: white;
  text-decoration: none;
}
.menu__link:hover {
  color: var(--primary);
}
.active {
  color: var(--primary) !important;
}
/* Theme hero section */
.hero {
  margin: 0;
  padding-top: 100px;
  background-image: linear-gradient(
      to bottom,
      rgba(173, 50, 34, 0.623),
      rgba(58, 55, 50, 0.11)
    ),
    var(--shared-image);
  background-size: stretch;
  width: 100%;
  max-height: 500px;
  height: 500px;
  color: var(--primary-contrast);
}
.welcome {
  color: var(--primary-contrast);
  text-align: center;
  margin: 70px auto 10px;
  font-size: 1rem;
}
.greeting {
  color: var(--primary-contrast);
  text-align: center;
  margin: 30px auto;
  font-size: 2.2rem;
}
.more {
  margin-top: 60px;
  font-size: 1.8rem;
  padding: 10px;
  margin: 60px auto;
}

/* Theme Services section */
.services {
  background: var(--primary-contrast);
  padding-top: 70px;
  text-align: center;
  padding-bottom: 70px;
}
.services__heading {
  font-size: var(--heading-size);
}
.services__subheading {
  font-size: var(--content-small-size);
  color: var(--light-text);
  font-style: italic;
  margin-bottom: 20px;
}
.services__list {
  display: flex;
  flex-direction: column;
}
.service {
  margin-top: 40px;
}
.service__heading {
  font-size: var(--subheading-size);
}
.service__description {
  font-size: var(--content-small-size);
  line-height: calc(var(--content-small-size) * 1.5);
}
.material-icons.service__image {
  font-size: 100px;
  color: var(--primary);
}

/* Theme Portfolio section */
.portfolio {
  margin: 70px auto;
  text-align: center;
}
.portfolio__heading {
  font-size: var(--heading-size);
  margin-bottom: 20px;
}
.portfolio__subheading {
  font-size: var(--content-small-size);
  color: var(--light-text);
  font-style: italic;
  margin-bottom: 20px;
}
.portfolio__list {
  display: flex;
  flex-direction: column;
}
.portfolio-item {
  margin: 0 0 20px;
  background: white;
}
.portfolio-item__heading {
  margin-top: 20px;
  font-size: var(--subheading-size);
}
.portfolio-item__description {
  font-size: var(--content-small-size);
  color: var(--light-text);
  font-style: italic;
  margin: 20px;
}
.portfolio-item__image {
  margin: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(173, 50, 34, 0.623),
      rgba(58, 55, 50, 0.11)
    ),
    var(--shared-image);
  background-size: stretch;
  width: 100%;
  max-height: 300px;
  height: 300px;
  color: var(--primary-contrast);
}

/* Theme About section */
.about {
  background: white;
  padding: 70px 0;
  text-align: center;
}
.about__heading {
  font-size: var(--heading-size);
  margin-bottom: 20px;
}
.about__subheading {
  font-size: var(--content-small-size);
  color: var(--light-text);
  font-style: italic;
  margin-bottom: 20px;
}

/* Theme Team section */
.team {
  background: var(--shaded-background);
  padding: 70px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.team__heading {
  font-size: var(--heading-size);
  margin-bottom: 20px;
}
.team__subheading {
  font-size: var(--content-small-size);
  color: var(--light-text);
  font-style: italic;
  margin-bottom: 20px;
}
.team__list {
  display: flex;
  flex-direction: column;
}
.team-member {
  margin: 30px auto 40px;
}
.team-member__avatar {
  width: 150px;
  height: 150px;
  background-image: linear-gradient(
      to bottom,
      rgba(173, 50, 34, 0.623),
      rgba(58, 55, 50, 0.11)
    ),
    var(--shared-image);
  border-radius: 50%;
  margin: 0 auto;
}
.team-member__name {
  font-size: var(--subheading-size);
}
.team-member__title {
  color: var(--primary);
}
/* Theme Brands section */
.brands {
  background: white;

  text-align: center;
}
.brands__list {
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.brand {
  color: transparent;
  background: #444444;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.781);
  font-family: "Freckle Face", cursive;
  font-size: 2.5em;
  margin: 10px;
}
/* Theme Contact section */
.contact {
  background: var(--dark-background);

  padding: 70px 0;
  text-align: center;
}
.contact__heading {
  color: white;
  font-size: var(--heading-size);
  margin-bottom: 20px;
}
.contact__subheading {
  font-size: var(--content);
  color: var(--shaded-background);
  font-style: italic;
  margin-bottom: 20px;
}
.contact-form {
  margin: 50px 20px;
  display: block;
}
.contact-form__input {
  font-size: var(--content-size);
  display: block;
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--primary);
}
.contact-form__submit {
  margin-top: 60px;
  font-size: 1.8rem;
  padding: 10px;
  margin: 60px auto 10px;
}

/* Theme Footer section */

.footer {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  margin: 30px auto;
}
.footer__social-media-item {
  list-style: none;
  display: inline;
}
.social-media-link {
  text-decoration: none;
}
.social-media-image {
  margin: 0 20px 0 0;
  color: var(--link-color);
}

.social-media-image:hover {
  color: var(--link-hover);
}

.material-icons.social-media-image {
  font-size: 35px;
}
.footer__policy-item {
  list-style: none;
  display: inline;
  margin: 0 10px;
}
.footer__policy-link,
.footer__policy-link:visited {
  color: var(--primary);
  text-decoration: none;
}
.footer__policy-link:hover {
  color: var(--primary-hover);
}
/* Desktop Settings */

@media screen and (min-width: 780px) {
  .menu__items {
    display: inline;
  }
  .menu--button {
    display: none;
  }
  .welcome {
    font-size: 1.5rem;
  }
  .services__list {
    flex-direction: row;
  }
  .service {
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px 30px;
  }
  .portfolio__list {
    justify-content: space-around;
    margin: 20px auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio-item {
    margin: 10px;
    width: 300px;
  }
  .brands__list {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .team__list {
    flex-direction: row;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 75px;
  }
}

/* don't smooth scroll for people with motion sickness */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
